body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
}

.denied {
    text-align: center;
}

h1 {
    font-size: 2em;
    margin: 0;
}

p {
    margin: 0;
}
.red {
    color: red;
    font-weight: bold;
}